
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0px;
    }
    .contents{
        background-color: blue;
        display: grid;
        grid-template-columns: 1fr 1160px 1fr;
        grid-template-rows: 50px 600px 1fr 200px;
        grid-template-areas:
            "menubar menubar menubar"
            "header header header"
            ". main ."
            "footer footer footer";

    }
    h1{
        font-size: 16px;
        float: left;
    }
    .menuber nav {
        float: right;
    }
    .menubar {
        background-color: green;
        grid-area: menubar;
    }
    header {
        background-color: orange;
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr 600px;
        grid-template-areas:
            "worldnews morenews"
    }
    .worldnews {
        grid-area: worldnews;
        background-image: url(img/kojou.png);
        background-position: center;
        background-size: max(100%,1280px);
    }
    .morenews {
        grid-area: morenews;
    }
    main {
        background-color: skyblue;
        grid-area: main;
    }
    .trending-content{
        display:flex;
        justify-content: space-between;

    }
    .trending-child {
        width: 360px;
        height: 350px;
        display: grid;
        grid-template-areas:
            "trending-child-img" "trending-child-h3" "trending-child-p" "trending-child-time";
    }
    .trending-child h3 {
        grid-area: trending-child-h3
    }
    .trending-child img {
        grid-area: trending-child-img
    }
    .trending-child p {
        grid-area: trending-child-p
    }
    .trending-child .time {
        grid-area: trending-child-time
    }

    .happening-now-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .happening-now-bigchilds {
        width: 760px;
        background-position: center;
    }
    .hn-big1 {
        background-image: url(img/kojou.png);
    }
    .hn-big2 {
        background-image: url(img/kojou.png);
    }

    .happening-now-smallchilds {
        width: 360px;
    }

    .happening-now-bigchild {
        height: 430px;
        margin-bottom: 40px;
    }
    .happening-now-smallchild {
        height: 273px;
        margin-bottom: 40px;
    }

    footer {
        background-color: purple;
        grid-area: footer;
    }
